<main>
  <section class="chat">
    @for (item of chatItems; track item) {
      <article>
        <mat-card 
              [class.question]="item.type === ChatItemType.Question"
              [class.answear]="item.type === ChatItemType.Answear"
              appearance="outlined">
          <mat-card-header>
            <img mat-card-avatar [src]="item.avatar" />
            <mat-card-title>{{ item.userName }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ item.text | async }}
            </p>
          </mat-card-content>
          <mat-card-actions align="end" class="actions" *ngIf="item.type === ChatItemType.Answear">
            <button mat-icon-button [class.active]="item.thumb === ThumbType.Up" (click)="item.thumb = ThumbType.Up">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button [class.active]="item.thumb === ThumbType.Down" (click)="item.thumb = ThumbType.Down">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </article>

    }
  </section>
  <section class="ask-question">
    <mat-form-field class="input-field" subscriptSizing="dynamic" >
      <mat-label>Zapytaj AI</mat-label>
      <textarea matInput #askQuestionButton></textarea>
    </mat-form-field>
    <button mat-icon-button class="button" (click)="askQuestion(askQuestionButton.value)" *ngIf="!isAnswearTextGenerationInProgress">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-icon-button class="button" (click)="cancelAnswearGeneration$.next(null)" *ngIf="isAnswearTextGenerationInProgress">
      <mat-icon>cancel</mat-icon>
    </button>
  </section>
</main>
